{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1 class="page-header">Sobre</h1>

    <blockquote class="blockquote-reverse">
        <p class="text-justify">
            "Hoje temos muitos dados. Mas ter os dados não basta. É necessário apresentá-los de forma que as
            pessoas consigam entendê-los e apreciá-los. Com uma visão mais baseada em fatos, poderemos
            desconstruir mitos devastadores, compreender melhor a situação do desenvolvimento global e tomar
            decisões mais acertadas."
        </p>
        <div class="blockquote-footer"><cite title="Source Title">Hans Rosling</cite></div>
    </blockquote>

    <p class="row">
        <img src="/static/images/hans.jpg" class="rounded mx-auto d-block"/>
    </p>

    <p class="text-justify">
        A nossa proposta está ancorada no ideal de compartilhamento da inteligência coletiva
        por meio da visualização intuitiva dos dados. Nos inspiramos no movimento
        <a href="https://www.gapminder.org/">Gapminder</a> para a realização do nosso projeto.
        Assim como o fundador do Gapminder, Hans Rosling, acreditamos que a existência dos dados
        não é suficiente para que os problemas possam ser resolvidos, por isso criamos o Macroscópio
        Eleitoral.
    </p>
    <p class="text-justify">
        O objetivo da nossa plataforma é facilitar de maneira lúdica e interativa a compreensão das eleições
        brasileiras para acadêmicos, cientistas, políticos, jornalistas, gestores e demais atores da
        sociedade. Disponibilizamos ferramentas para que os usuários do Macroscópio
        combinem diferentes variáveis dos eixos X/Y, cor e tamanho da bolha no tempo e no
        espaço. Nós queremos empoderar os cidadãos com um instrumento de transparência
        devidamente contextualizado à nossa dinâmica eleitoral.
    </p>

    <blockquote class="blockquote-reverse">
        <p class="text-justify">
            "As apresentações de Rosling baseiam-se em estatísticas sólidas (muitas vezes extraídas dos dados das
            Nações Unidas), ilustradas pelo software de visualização que desenvolveu. As animações transformam as
            estatísticas de desenvolvimento em bolhas móveis e curvas que tornam as tendências globais claras,
            intuitivas e até divertidas. Durante suas apresentações lendárias, Rosling dá um passo adiante,
            narrando as animações com um toque de apresentador de esportes."
        </p>
        <div class="blockquote-footer"><cite title="Source Title">TED Talks</cite></div>
    </blockquote>

    <div class="row">
        <div class="col col-sm-12 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/U5Q9zdIHbRU" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/kMzy-5hDEYk" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Qe9Lw_nlFQU" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/RUwS1uAdUcI" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}