<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Macroscópio Eleitoral</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" type="text/css"/>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %} {% endblock %}

    <meta name="author" content="Lucas Lira Gomes">
    <meta name="description" content="O Macroscópio Eleitoral nasce com o propósito de facilitar a compreensão
    sobre o processo eleitoral brasileiro por meio da utilização de tecnologias cívicas. Aqui você encontrará
    diferentes formas de cruzamento dos dados do CEPESP que possibilitarão a visualização intuitiva dos pleitos
    no tempo e no espaço.">
    <meta name="keywords" content="eleições, processo eleitoral, política, campanha, financiamento de campanha,
    gasto de campanha, eleições por estado">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">Macroscópio Eleitoral</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="share"></div>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == url_for('index') %}active{% endif %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == url_for('about') %}active{% endif %}">
                    <a class="nav-link" href="/about">Sobre</a>
                </li>
                <li class="nav-item {% if request.path == url_for('polls') %}active{% endif %}">
                    <a class="nav-link" href="/polls">Consolidação das Eleições</a>
                </li>
                <li class="nav-item {% if request.path == url_for('candidates') %}active{% endif %}">
                    <a class="nav-link" href="/candidates">Candidaturas</a>
                </li>
                <li class="nav-item {% if request.path == url_for('team') %}active{% endif %}">
                    <a class="nav-link" href="/team">Equipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p class="text-muted credit">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License"
                         src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
                </a> Design e desenvolvimento por <a href="https://x8lucas8x.com">
                Lucas Lira Gomes
            </a>.</p>
        </div>

        <script type='text/javascript'
                src='//platform-api.sharethis.com/js/sharethis.js#property=5a32cce70c3a12001239dd4d&product=sticky-share-buttons'
                async='async'></script>
        {% block scripts %} {% endblock %}
    </footer>
</body>

</html>