<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Macroscópio Político</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block css %} {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Lucas Lira Gomes">
    <meta name="description" content="O Macroscópio Político nasce com o propósito de facilitar a compreensão
    sobre o processo eleitoral brasileiro por meio da utilização de tecnologias cívicas. Aqui você encontrará
    diferentes formas de cruzamento dos dados do CEPESP que possibilitarão a visualização intuitiva dos pleitos
    no tempo e no espaço.">
    <meta name="keywords" content="eleições, processo eleitoral, política, campanha, financiamento de campanha,
    gasto de campanha, eleições por estado">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/">Macroscópio Político</a>
        <button class="navbar-toggler navbar-toggler-right"
                type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.path == url_for('index') %}active{% endif %}">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == url_for('about') %}active{% endif %}">
                    <a class="nav-link" href="/about">Sobre</a>
                </li>
                <li class="nav-item {% if request.path == url_for('polls_bubble') %}active{% endif %}">
                    <a class="nav-link" href="/polls/bubble">Consolidação das Eleições</a>
                </li>
                <li class="nav-item {% if request.path == url_for('candidates_bubble') %}active{% endif %}">
                    <a class="nav-link" href="/candidates/bubble">Candidaturas</a>
                </li>
                <li class="nav-item {% if request.path == url_for('team') %}active{% endif %}">
                    <a class="nav-link" href="/team">Equipe</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <div id="share"></div>
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p class="text-muted credit">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License"
                         src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
                </a> Design e desenvolvimento por <a href="https://x8lucas8x.com">
                Lucas Lira Gomes
            </a>.</p>
        </div>

        {% include 'parts/analytics.html' %}
        {% include 'parts/share-buttons.html' %}

        {% block scripts %} {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
                integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
                crossorigin="anonymous"></script>
    </footer>
</body>

</html>