{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Macroscópio Político</h1>
        <p class="lead">Amplificando o olhar sobre a Política</p>
        <hr class="my-4">
        <p class="text-justify">
            O Macroscópio Político nasce com o propósito de facilitar a compreensão sobre o processo eleitoral
            brasileiro por meio da utilização de tecnologias cívicas. Aqui você encontrará diferentes formas de
            cruzamento dos dados do CEPESP que possibilitarão a visualização intuitiva dos pleitos no tempo e
            no espaço. Nossa equipe é constituída por uma socióloga, um engenheiro de software, um cientista
            político e um graduando em ciência política, todos estes evangelizadores do conhecimento livre e
            colaborativo. Críticas e sugestões são bem-vindas!
        </p>

        <blockquote class="blockquote-reverse">
            <p class="text-justify">
                "Se você tem uma maçã e eu tenho outra; e nós trocamos as maçãs, então cada um terá sua maçã.
                Mas se você tem uma idéia e eu tenho outra, e nós as trocamos; então cada um terá duas idéias."
            </p>
            <div class="blockquote-footer"><cite title="Source Title">George Bernard Shaw</cite></div>
        </blockquote>

        <p><a class="btn btn-primary btn-lg" href="/about">Conheça mais</a></p>
    </div>

    <div class="row">
        <img src="/static/images/macroscopio.png"
             class="rounded mx-auto d-block">
    </div>
</div>
{% endblock %}