{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1 class="page-header">Equipe</h1>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="team-member">
                <div class="team-img">
                    <img src="/static/images/lucas.jpg"
                         height="381" width="381"
                         class="img-fluid rounded">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <p class="text-justify">
                            Engenheiro de software na KAYAK Germany (Berlin). Formado em engenharia da computação
                            pela Universidade Federal de Pernambuco (UFPE/2015). Hacker convicto e entusiasta de
                            software livre. Possui experiência com Django, Python, C++/Qt, Git, React e JS.
                        </p>
                    </div>
                    <div class="s-link">
                        <a href="//x8lucas8x.com/"><i class="fa fa-link"></i></a>
                        <a href="//facebook.com/x8lucas8x"><i class="fa fa-facebook"></i></a>
                        <a href="//github.com/x8lucas8x"><i class="fa fa-github"></i></a>
                        <a href="//twitter.com/x8lucas8x"><i class="fa fa-twitter"></i></a>
                        <a href="//plus.google.com/117767044315418355748"><i class="fa fa-google-plus"></i></a>
                        <a href="//linkedin.com/in/x8lucas8x"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Lucas Lira Gomes</h5>
                <span>Engenheiro de Software</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="team-member">
                <div class="team-img">
                    <img src="/static/images/barbara.jpg"
                         height="381" width="381"
                         class="img-fluid rounded">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <p class="text-justify">
                            Mestranda em Sociologia (2016) e graduada em Ciências Sociais/Bacharelado (2014)
                            pela Universidade Federal de Pernambuco (UFPE). Foi bolsista do Programa de Educação
                            Tutorial de Ciências Sociais da UFPE (2011-2015). Integrante do Grupo Métodos de
                            Pesquisa em Ciência Política (MPCP/UFPE). Possui interesse nas relações entre o uso
                            das tecnologias de informação e comunicação e a democracia digital, com enfoque em
                            participação online, ativismo hacker, transparência, criptografia e sociedade de
                            controle.
                        </p>
                    </div>
                    <div class="s-link">
                        <a href="//osf.io/y2m7f"><i class="fa fa-link"></i></a>
                        <a href="//lattes.cnpq.br/3391800422266370"><i class="fa fa-university"></i></a>
                        <a href="//linkedin.com/in/barbarafmota"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Bárbara Maria Farias Mota</h5>
                <span>Mestranda em Sociologia</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="team-member">
                <div class="team-img">
                    <img src="/static/images/antonio.jpg"
                         height="381" width="381"
                         class="img-fluid rounded">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <p class="text-justify">
                            Graduando em Ciência Política pela UFPE. É membro do grupo &#39;Métodos de Pesquisa
                            em Ciência Política&#39;(DCP/UFPE) e Bolsista de Iniciação Científica pela FACEPE.
                            Foi também intercambista no Canadá pelo Programa Ganhe o Mundo (PGM), do Governo do
                            Estado de Pernambuco.
                        </p>
                    </div>
                    <div class="s-link">
                        <a href="//osf.io/79v2e"><i class="fa fa-link"></i></a>
                        <a href="//lattes.cnpq.br/2030626707128714"><i class="fa fa-university"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Antônio Alves Tôrres Fernandes</h5>
                <span>Graduando em Ciência Política</span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="team-member">
                <div class="team-img">
                    <img src="/static/images/dawson.jpg"
                         height="381" width="381"
                         class="img-fluid rounded">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <p class="text-justify">
                            Professor Adjunto do Departamento de Ciência Política, Catalisador do Berkeley
                            Initiative for Transparency in the Social Sciences (BITSS, 2015). Doutor em
                            Ciência Política pela Universidade Federal de Pernambuco (UFPE, 2012). Atua nas
                            áreas de métodos quantitativos, transparência científica, financiamento de campanha
                            e estudos legislativos.
                        </p>
                    </div>
                    <div class="s-link">
                        <a href="//osf.io/qdeck"><i class="fa fa-link"></i></a>
                        <a href="//lattes.cnpq.br/6683806605359913"><i class="fa fa-university"></i></a>
                    </div>
                </div>
            </div>
            <div class="team-title">
                <h5>Dalson Britto Figueiredo Filho</h5>
                <span>Professor Doutor em Ciência Política
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}